ion-menu {
  --width: 250px;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

// md (android)
ion-menu ion-item {
  --padding-start: 6px;
  margin: 18px 12px;
  border-radius: 12px;
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-shade), 0.14);
}

ion-menu ion-item.selected ion-icon {
  color: #fff;
}

ion-menu ion-item ion-icon {
  padding: 12px;
  color: #01ca72;
}

ion-menu ion-item ion-label {
  color: #01ca72;
}

ion-menu ion-item.selected ion-label {
  color: #ffffff;
}

// // ios
// ion-menu.ios ion-item {
//   --padding-start: 6px;
//   margin: 18px 12px;
//   border-radius: 12px;
// }

// ion-menu.ios ion-item.selected {
//   --background: rgba(var(--ion-color-primary-shade), 0.14);
// }

// ion-menu.ios ion-item.selected ion-icon {
//   color: #fff;
// }

// ion-menu.ios ion-item ion-icon {
//   padding: 12px;
//   color: #01ca72;
// }

// ion-menu.ios ion-item ion-label {
//   font-size: 16px;
//   color: #01ca72;
// }

// ion-menu.ios ion-item.selected ion-label {
//   color: #ffffff;
// }

ion-item.selected {
  background-color: var(--ion-color-primary);
}

.menu-header {
  background-color: var(--ion-color-primary);
  height: 115px;
  border-radius: 0 0 24px 0;
}
